[paths]
source =
   src/bpp_speech
   */site-packages/bpp_speech

[run]
branch = true
source = bpp_speech
parallel = true
concurrency = multiprocessing

[report]
show_missing = true
skip_covered = true
precision = 2
