[paths]
source =
   src/bpp_speech_to_text
   */site-packages/bpp_speech_to_text

[run]
branch = true
source = bpp_speech_to_text
parallel = true
concurrency = multiprocessing

[report]
show_missing = true
skip_covered = true
precision = 2
