[Unit]
Description=BPP Button callback to speech recognition
After=multi-user.target

[Service]
StandardInput=null
# to see the logs, run: $ journalctl -u llmop
StandardOutput=journal
StandardError=null
Type=simple
User=pi
ExecStart=/home/pi/bpp/vevn/vBpp/bin/python /home/pi/bpp/bpp-speech/src/bpp_speech/bpp_btn.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
